In [9]:
count, fruit, price = (2, 'apple', 3.5)
print(count)
print(type(count))
print(type(fruit))
print(type(price))

2
<class 'int'>
<class 'str'>
<class 'float'>

In [42]:
#**************** pop komutu ile liste içinden index nosuma göre silme işlemi yapılır
my_list = ["isim", "soyad", "yas", "sehir", "tc"]
my_list.pop(3)
print(my_list)

['isim', 'soyad', 'yas', 'tc']

In [43]:
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
print(list(enumerate(college_years, 2019)))

[(2019, 'Freshman'), (2020, 'Sophomore'), (2021, 'Junior'), (2022, 'Senior')]

In [101]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
output=[]

fruit_tuple_0 = (fruits[0], quantities[0], prices[0])
output.append(output)
fruit_tuple_1 = (fruits[1], quantities[1], prices[1])
output.append(output)
fruit_tuple_2 = (fruits[2], quantities[2], prices[2])
output.append(output)
print(fruit_tuple_0, fruit_tuple_1, fruit_tuple_2)

('Apples', 5, 1.5) ('Oranges', 3, 2.25) ('Bananas', 4, 0.89)

In [98]:
my_list = []
my_list.append(my_list)

In [135]:
fruits = ['Apples', 'Oranges', 'Bananas', "selam"]
quantities = [5, 3, 4, 2]
prices = [1.50, 2.25, 0.89, 3]
i = 0
output = []
for x in fruits:
    temp_qty = quantities[i]
    temp_price = prices[i]
    output.append((x, temp_qty, temp_price))
    i += 1
print(output)

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89), ('selam', 2, 3)]

In [104]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]

groceries = zip(fruits, quantities, prices)
print(list(groceries))

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [132]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
i = 0
output = []
for fruit in fruits:
    for qty in quantities:
           for price in prices:
                output.append((fruit, qty, price))
    i += 1
print(output)

[('Apples', 5, 1.5), ('Apples', 5, 2.25), ('Apples', 5, 0.89), ('Apples', 3, 1.5), ('Apples', 3, 2.25), ('Apples', 3, 0.89), ('Apples', 4, 1.5), ('Apples', 4, 2.25), ('Apples', 4, 0.89), ('Oranges', 5, 1.5), ('Oranges', 5, 2.25), ('Oranges', 5, 0.89), ('Oranges', 3, 1.5), ('Oranges', 3, 2.25), ('Oranges', 3, 0.89), ('Oranges', 4, 1.5), ('Oranges', 4, 2.25), ('Oranges', 4, 0.89), ('Bananas', 5, 1.5), ('Bananas', 5, 2.25), ('Bananas', 5, 0.89), ('Bananas', 3, 1.5), ('Bananas', 3, 2.25), ('Bananas', 3, 0.89), ('Bananas', 4, 1.5), ('Bananas', 4, 2.25), ('Bananas', 4, 0.89)]

In [114]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
frequent = max(set(numbers), key = numbers.count)
frequency = numbers.count(frequent)
print(f"the most frequent number is {frequent} and it was {frequency} times repeated")

the most frequent number is 3 and it was 4 times repeated

In [1]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
y = max([(numbers.count(x), x) for x in set(numbers)])
print(f"the most frequent number is {y[1]} and it was {y[0]} times repeated")

the most frequent number is 3 and it was 4 times repeated
<class 'tuple'>

In [ ]:

[(numbers.count(sss),sss) for sss in set(numbers)]
[(1, 0), (1, 1), (4, 3), (1, 4), (1, 6), (1, 7)]

In [145]:
z = []
for i in set(numbers):
    x = [numbers.count(i), i]
    z.append(x)
a = max(z)
print(a)
print(a[0])
print(a[1])

[4, 3]
4
3

In [3]:
myDict = {1:"one",2:{3:"three",4:"four"}}
myDict[2][5] = myDict[2].pop(4)
print (myDict)

#{1: 'one', 2: {3: 'three', 5: 'four'}}

{1: 'one', 2: {3: 'three', 5: 'four'}}

In [4]:
stok = {"elma": 5, "armut": 10, "peynir": 6, "sosis": 15, "erik": 10}
yeni_stok ={"elma": 3, "armut":20, "peynir": 8, "sosis": 4, "sucuk": 6}

stok.update(yeni_stok)
print(stok)

{'elma': 3, 'armut': 20, 'peynir': 8, 'sosis': 4, 'erik': 10, 'sucuk': 6}