In [1]:
# ***********************list çalışmaları*************
string_1 = 'hello'

new_list_1 = list(string_1)  # we created multi element list
print(new_list_1)

new_list_2 = [string_1]  # this is a single element list
print(new_list_2)

['h', 'e', 'l', 'l', 'o']
['hello']

In [2]:
# **********************append cod working*******************
empty_list_1 = []
empty_list_1.append('114') # boş listeye "114" ü ekler
empty_list_1.append('plastic-free sea') # empty_list1 değişkenine belirtilen str eklenir

print(empty_list_1)

['114', 'plastic-free sea']

In [8]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city.append('Addis Ababa')

print(city)

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [5]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.insert(2, 'Stockholm') # 2. indekse belirlenen değişken eklenir

print(city)

['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [6]:
city = ['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.remove('London')
print(city)  # we have deleted 'London'

['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [9]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.sort()  # lists the items in alphabetical order
print(city)

['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']

In [10]:
city = ['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']
print(len(city)) # city değişkenine atanan değer toplamını verir

6

In [11]:
my_list = [1, 3, 5, 7]
print(my_list * 3)

[1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7]

In [13]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city[1] = 'Melbourne'  # we assign 'Melbourne' to index 1***** 2.indeksin yerine atanır*******
print(city)

['New York', 'Melbourne', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [14]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])  # If we start at zero, 
# the second element will be 'blue'.

blue

In [17]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

city_list = []
city_list.append(city) # we have created a nested list

print(city_list)

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

In [18]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0]) # access to first and only element

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [19]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2])

Istanbul

In [22]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2][3]) # 2. indeks olan Istanbul un 3.değerini verir

a

In [29]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list [0][2][7] )

l

In [30]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])  # we get the elements from index=2 to index=5(5 is not included)

[5, 7, 9]

In [34]:
count = list(range(7))
print(count)

print(count[0:6:2]) # ikişer steple sayar

[0, 1, 2, 3, 4, 5, 6]
[0, 2, 4]

In [35]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

print(animals[:])  # all elements of the list

['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

In [36]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[3:])

['wolf', 'rabbit', 'deer', 'giraffe']

In [37]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[:5])

['elephant', 'bear', 'fox', 'wolf', 'rabbit']

In [38]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[::2])

['elephant', 'fox', 'rabbit', 'giraffe']

In [39]:
even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(even_numbers[4:9])

[10, 12, 14, 16, 18]

In [41]:
print(len([[12, 34, 56]]))
print(len([[12, 34, 56]][0]))

1
3

In [42]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-4])

London

In [43]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:])

['lobster', 'squid', 'octopus']

In [44]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[:-3])

['swordfish', 'shark', 'whale', 'jellyfish']

In [45]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-1])  # we have produced the reverse of the list

['octopus', 'squid', 'lobster', 'jellyfish', 'whale', 'shark', 'swordfish']

In [46]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-2])

['octopus', 'lobster', 'whale', 'swordfish']

In [47]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:3:-1])
print(odd_no[2:6:-1])

[8, 7, 6, 5]
[]

In [48]:
mixed_list = [11, "joseph", False, 3.14, None, [1, 2, 3]]
print(mixed_list)

[11, 'joseph', False, 3.14, None, [1, 2, 3]]

In [50]:
len([2, 3, 5, [63, 54]])

4

In [53]:
list1 = ["2020's hard"]
list2 = list("2020's hard")
print(list1)
print(list2)

["2020's hard"]
['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']

In [56]:
ders9 = [1, 3, 5]
ders9.append("5")
print(ders9)

[1, 3, 5, '5']

In [57]:
ders9.append("5")

In [58]:
ders9.append("5")

In [59]:
print(ders9)

[1, 3, 5, '5', '5', '5']

In [60]:
empt_lst_ = []
empt_lst_.append (1)
empt_lst_.append (2)
empt_lst_.append (3)
empt_lst_.append (4)
print(empt_lst_)

[1, 2, 3, 4]

In [63]:
city = ["los", "beirut", "tokyo"]
city[0] = True
print(city)

[True, 'beirut', 'tokyo']

In [64]:
city[1:] = "clarus"
print(city)

[True, 'c', 'l', 'a', 'r', 'u', 's']

In [65]:
city[1:] = "istanbul", "seul"
print(city)

[True, 'istanbul', 'seul']

In [77]:
city1 = ["istanbul", "yozgat", "ankara", "erzurum"]
city1[0:2] =["a","b","c"]
#city1[0:2] ="abcdef"
#city1[0:2] =["a","b"]
print(city1)

['a', 'b', 'c', 'ankara', 'erzurum']

In [82]:
print("\\\\")

\\

In [89]:
True and "\\"

'\\'

In [92]:
a = 3
b = 4
print("{} + {}'ün toplamı {}'dir.".format(a, b, a+b))

3 + 4'ün toplamı 7'dir.

In [94]:
text = "{:.2f}, {:.3f}, {:.4f}".format(3.14, 5.36768, 7.324567)
print(text)

3.14, 5.368, 7.3246

In [101]:
text = "{:.2s}, {:.4s}, {:.15s}".format("acsadasda", "fasdfafa sdfaf", "asdfasdfafadsfafd")
print(text)

ac, fasd, asdfasdfafadsfa

In [109]:
text = "{:<50}".format("clarusway") # alan belirleyip sağa ve sola yaslayarak yazma
print(text)
text1 = "{:>50}".format("clarusway")
print(text1)
len(text1)

clarusway
                                         clarusway

50

In [112]:
text = "formatlama {:>20} formatlama".format("test") # alan belirleyip sağa ve sola yaslayarak yazma
print(text)

formatlama                 test formatlama

In [116]:
text = "{:<10} formatlama".format("test") # alan belirleyip sağa ve sola yaslayarak yazma
print(text)

test       formatlama

In [119]:
text = "{:^15} ".format("test") # alan belirleyip smerkeze yazma
print(text)

     test

In [120]:
text = "formatlama {:^20} formatlama".format("test") # alan belirleyip merkeze yazma
print(text)

formatlama         test         formatlama

In [124]:
text11 = " {:.15}".format("dostlarımızdanlerimizdenmiş") # alan belirleyip merkeze yazma
print(text11)

 testlerimizdenm

In [125]:
text11 = " {:.3}".format("testlerimizdenmiş") # 
print(text11)

 tes

In [131]:
text11 = " {:>25.3}".format("testlerimizdenmiş") # a
print(text11)

                       tes

In [133]:
text11 = " {:.3}".format("3.14587") # a
print(text11)

 3.1