In [3]:
sehirler = ["tokyo", "addis ababa", "rome", "istanbul", "rio"]
print(sorted(sehirler))

['addis ababa', 'istanbul', 'rio', 'rome', 'tokyo']

In [4]:
print(sorted(sehirler, key = len))

['rio', 'rome', 'tokyo', 'istanbul', 'addis ababa']

In [6]:
print(sorted(sehirler, key = len, reverse = True))

['addis ababa', 'istanbul', 'tokyo', 'rome', 'rio']

In [8]:
sehirler.sort(key = len, reverse = True)
print(sehirler)

['addis ababa', 'istanbul', 'tokyo', 'rome', 'rio']

In [9]:
#********Tuples******************* ımmutable and iterable*************
import sys
x = [1,2,3] #list
y = (1,2,3) # tuple
print(sys.getsizeof(x))
print(sys.getsizeof(y))

88
72

In [10]:
tuple_1 = ( "h", "a", "p", "p", "y")
print(isimler)

('h', 'a', 'p', 'p', 'y')

In [12]:
benim = ["a", "b", "c"]
ben_tuple = tuple(benim)
print(ben_tuple)

('a', 'b', 'c')

In [15]:
empty_tuple = ()
isimler = tuple()
my_tuple =("solar")
print(my_tuple, type(my_tuple), sep="\n")

solar
<class 'str'>

In [16]:
my_tuple =("solar",)
print(my_tuple, type(my_tuple), sep="\n")

('solar',)
<class 'tuple'>

In [19]:
x = 1, 2, 3
print(x)
type(x)

(1, 2, 3)

tuple

In [20]:
aa = "a", "b"
type(aa)

bb = "as",
type(bb)

tuple

In [28]:
my_tuple = (1, 2, 3, 5, 7, 9, 4)
my_list = list(my_tuple)
print(type(my_list))

<class 'list'>

In [26]:
mountain = tuple("Alps")
print(mountain)

('A', 'l', 'p', 's')

In [32]:
my_list = tuple(range(1,11))
print(my_list)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [34]:
even_no = (0, 2, 4)
print(even_no[0])
print(even_no[1])
print(even_no[2])

0
2
4

In [39]:
mix_tuple =("11", 11, [2, "two",("six", 6)], (5, "fair"))
print(mix_tuple[2][2][0])

six

In [40]:
str_six = mix_tuple[2][1:3]
print(str_six, type(str_six), sep="\n") # sonuç list

['two', ('six', 6)]
<class 'list'>

In [41]:
str_six = mix_tuple[1:3]
print(str_six, type(str_six), sep="\n") # sonuç tuple

(11, [2, 'two', ('six', 6)])
<class 'tuple'>

In [45]:
mix_tuple =("11", 11, [2, "two",("six", 6)], (5, "fair"))
print(mix_tuple[-1])
print(type(mix_tuple[-1]))

(5, 'fair')
<class 'tuple'>

In [49]:
print(mix_tuple[-1][1])
print(mix_tuple[-1][-1])
print(mix_tuple[3][1])
print(mix_tuple[3][-1])

fair
fair
fair
fair

In [56]:
mix_tuple =("11", 11, [2, "two",("six", 6)], (5, "fair"))
mix_tuple[2].append("keles")
print(mix_tuple)

('11', 11, [2, 'two', ('six', 6), 'keles'], (5, 'fair'))

In [55]:
mix_tuple[2].remove("keles")
print(mix_tuple)

ValueError: list.remove(x): x not in list

In [13]:
city = ["new york", "london", "istanbul", "seoul", "sydney"]
print(city[-4])
print(city[3][2])
print(city[2][2])
print(city[-3:])
print(city[:-3])
print(city[::2])
print(city[::-1])
print(city[::-2])

london
o
t
['istanbul', 'seoul', 'sydney']
['new york', 'london']
['new york', 'istanbul', 'sydney']
['sydney', 'seoul', 'istanbul', 'london', 'new york']
['sydney', 'istanbul', 'new york']

In [18]:
harfler = "a, b, c, d, e, f, g, h, i, j".split() # stringi listeye dönüştürür.
print(harfler)
letters = ["a" ,"b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(harfler[7:3:-1])
print(letters[2:6:-1])

['a,', 'b,', 'c,', 'd,', 'e,', 'f,', 'g,', 'h,', 'i,', 'j']
['h,', 'g,', 'f,', 'e,']
[]

In [23]:
harfler1 = "a b- c d, e- f, g, h,- i, j".split("-") # stringi listeye dönüştürür. "-" tireyi baz alarak böldü.
print(harfler1)

['a b', ' c d, e', ' f, g, h,', ' i, j']

In [43]:
kisiler4 = ["a123457", "c12345679", "b124", "t123456870", "s13"]
print(kisiler4)

my_kisi = sorted(kisiler4, key = len)
print(my_kisi)
my_kisi = sorted(kisiler4, key = len, reverse=True)
print(my_kisi)

['a123457', 'c12345679', 'b124', 't123456870', 's13']
['s13', 'b124', 'a123457', 'c12345679', 't123456870']
['t123456870', 'c12345679', 'a123457', 'b124', 's13']